<div class="map-container" style="overflow: hidden;">
    <div id="map-container" style=" height: 240px;"></div>
    <div class="tabs is-centered">
        <ul>
            <li class="is-active"><h3 class="title">Group Conversation</h3></li>
        </ul>
    </div>
    <div class="conversation" style="height: 260px; overflow-y: auto; overflow-x: hidden;">
        <div class="columns is-mobile">
            <div class="column is-8">
                <div class="notification is-primary" style="font-size: 12px">
                    <span>Username</span>
                    Primar lorem ipsum dolor sit amet, consectetur
                    adipiscing elit lorem ipsum dolor sit amet,
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-8">
                <div class="notification is-primary" style="font-size: 12px">
                    <span>Username</span>
                    Primar lorem ipsum dolor sit amet, consectetur
                    adipiscing elit lorem ipsum dolor sit amet,
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-8 is-offset-4">
                <div class="notification is-primary" style="font-size: 12px">
                    <span>You</span>
                    Primar lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-controls">
        <div class="columns is-mobile">
            <div class="column is-12">
                <p class="control is-grouped">
                    <input class="input" type="text" placeholder="Enter Message">
                    <a class="button is-info">
                        Send
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>